*.docx
*.png
*.jpg
*.pdf
*.aux
*.bcf
*.log
*.run.xml
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.pptx
*.code-workspace
*.fls
*.fdb_latexmk
*.xdv
*.out
*-blx.bib
*.ini
*.ttt
*.lomap
*.efcodebox
*.pygtex
*.pygstyle
*.listing
settings.json